absl-py==1.4.0
addict==2.4.0
array-record==0.4.0
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
backcall==0.2.0
blinker==1.8.2
cached-property==1.5.2
cachetools==5.5.0
ccimport==0.4.4
certifi==2022.12.7
charset-normalizer==3.4.0
cloudpickle==3.1.1
comm==0.2.2
ConfigArgParse==1.7
contourpy==1.1.1
cycler==0.11.0
dacite==1.8.1
dash==3.0.3
dataclass_array==1.4.1
decorator==5.2.1
dm-tree==0.1.8